{% extends 'admin/base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/core.css') }}">
    <script type="text/javascript">
jQuery(document).ready(function(){

	  //download script
	  jQuery('.s_download').on("click", function(e) {
			var semail = jQuery("#itzurkarthi_email").val();
			if(semail == '')
			{
				alert('Enter Email');
				return false;
			}
			var str = "sub_email="+semail
			jQuery.ajax({
				type: "POST",
				url: "download.php",
				data: str,
				cache: false,
				success: function(htmld){
						jQuery('#down_update').html(htmld);
				}
			});
	  });
});
</script>


<style>
	#searchform { float:left; margin-left:20px; margin:9px 0px 0px; padding:0px; }
	#searchform fieldset { padding:0px; border:none; margin:0px; }
	#searchform input[type="text"] {
		background:#e8e8e8;
		border:none;
		float:left;
		padding:0px 10px 0px 15px;
		margin:0px;
		width:200px;
		height:38px;
		line-height:38px;
		transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		-moz-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		-webkit-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		-o-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
		color:#585858;
	}
	#searchform input[type="text"]:hover, #searchform input[type="text"]:focus { width:300px; }
	#searchform input[type="submit"] { background:url('{{ url_for('static',filename='admin/img/icon-search.png') }}') center 11px no-repeat; cursor:pointer; margin:0px; padding:0px; width:37px; height:38px; line-height:38px; }

	input[type="submit"] { padding:4px 17px; color:#ffffcolor:#585858; ff; text-transform:uppercase; border:none; font-size:20px; background:url('{{ url_for('static',filename='admin/img/gradient.png') }}') bottom repeat-x; cursor:pointer; margin-top:10px; float:left; overflow:visible; transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; -webkit-transition: all .3s linear; }

	#searchform input[type="submit"]:hover { background-color:#333232; }
	.style_1 #searchform input[type='submit'] { background-color:#25ade4; }
	.style_1{
        padding-top: 100px;
        margin:0 0 0 500px;
        display:block;
        clear:both
    }
	#result1{
		position: absolute;
		margin: 150px 0 0 200px;
	}
</style>
{% endblock %}

{% block main %}
    <div class="style_1">
		<form method="get" id="searchform" action="">
			<fieldset>
			<input id="s" name="s" type="text" placeholder="输入您要查询的会员信息" class="text_input"  />
			<input name="submit" type="submit" value /> </fieldset>
		</form>
	</div>
<div id = 'result1'>

</div>

<script >
    var s = document.getElementById('s')
    s.oninput = function () {
        n = s.value
        $.ajax({
            url:"{{ url_for('admin.mohu') }}",
            type:"POST",
            data:{'mydata':n},
            datatype:'json',

            success:function(data) {

                var p = document.getElementById('myid');
                if (p != undefined) {
                    p.parentNode.removeChild(p);
                }
              if (data.length != 0) {
                var div = document.createElement('div');
                var pa = document.getElementById('result1')
                div.className = 'pricing_table';
                div.id = 'myid';
                pa.appendChild(div)
                    for (var i = 0; i < data.length; i++) {
 						var ul = document.createElement('ul')
               			div.appendChild(ul)

                        var li = document.createElement('li');
                        li.innerHTML = '账号：' + data[i].uname;
                        ul.appendChild(li);

                        var li1 = document.createElement('li');
                        li1.innerHTML = '密码：' + data[i].pwd1;
                        ul.appendChild(li1);

                        var li2 = document.createElement('li');
                        li2.innerHTML = '用户名：' + data[i].na;
                        ul.appendChild(li2);

                        var li3 = document.createElement('li');
                        li3.innerHTML = '电话:' + data[i].tel1;
                        ul.appendChild(li3);

                        var li4 = document.createElement('li');
                        li4.innerHTML = '生日：' + data[i].birth1;
                        ul.appendChild(li4);

                        var li5 = document.createElement('li');
                        if (data[i].Role == 1) {
                            li5.innerHTML = '身份：用户';
                        }
                        else {
                            li5.innerHTML = '身份：管理员';
                        }
                        ul.appendChild(li5);

                       var li6 = document.createElement('li');
                       var a = document.createElement('a');
                       a.setAttribute("href","admin/upfor/"+user.id);
                       a.className = "buy_now";
                       a.innerText = '修改信息';
                       li6.appendChild(a);
                       ul.appendChild(li6);
                    }

                }
            }
        })
    }

</script>
{% endblock %}

