{%  extends 'admin/base.html' %}

{%  block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/core.css') }}">
{%  endblock %}



{% block main %}
<div>

<table border="1" width="815" style="border-width: 0px" height="560">
<tr>
<td style="border-style: none; border-width: medium" height="500" width="809" align="center">　
<section class="container">

<div class="pricing_table">
	 {% for user in users   %}
		<ul>
			<li>账号：{{ user.username }}</li>
			<li>密码：{{  user.password   }}</li>
			<li>用户名:{{  user.name }}</li>
			<li>电话：{{  user.tel  }}</li>
			<li>生日：{{  user.birth }}</li>
			<li>总金额:{{  user.money }}</li>
			<li>总积分：{{ user.jifen }}</li>
			<li>身份:{% if user.Role==0 %} 管理员 {% else %}用户 {% endif %}</li>
			<li></li>
			<li><a href="" class="buy_now">修改信息</a></li>
		</ul>

	{% endfor  %}
</div>

<br style="clear:both;" />

</section>

</td></tr></table>

<nav>
<!-- pagination-lg,pagination-sm控制大小 -->
	<center>
<ul class="pagination ">
	{% for i in range(count)  %}
	{% if (i+1) == x %}
	<li><a  href=" {{ url_for('admin.main',myid=i+1) }}" class="active">{{i+1}}</a></li>
	{% else %}
	<li><a  href=" {{ url_for('admin.main',myid=i+1) }}">{{i+1}}</a></li>
	{% endif %}
	{% endfor %}
</ul>
</center>
</nav>
<br/>

</div>

<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/npm.js"></script>

{% endblock %}