{% extends 'index.html' %}


{% block title %}明星染发{%  endblock %}

{% block mainpage  %}


{% block head %}
    <style type="text/css">
        img{
            max-width: 200px;
            height:200px;
        }
    </style>
{% endblock %}

<br><br>
<center><h2>为什么明星染了100次头发，发质还那么好？</h2>

<p>染发一直是转变形象最快速的方法之一，无论是时髦的年轻人还是步入中年的父母辈，都会用染发来改变形象。甚至有些孕妇都要用植物性的染膏保持美丽的发色～然而并不是所有人染完了都会像K-POP明星一样闪亮，染发后，发质会有所转变，嗯就是会变差！因此有些姑娘因为染发毁头发这个原因，二十多年的时间都没变过发色。。So，如何才能拥有一头染后不受损秀发？永琪课堂告诉你，你需要注意以下八件事：</p>

    <h3>——染前——</h3>
    <br>

<h5>1/ 颜色选择</h5>
<p>根据自己的肤色冷暖调选择适合自己的颜色。一般来说，巧克力色、红棕色这类都比较显白。ps：棕黄色系、黄色系慎选，这会让黄调皮肤更显黄。</p>

    <img src="{{ url_for('static',filename='images/aboutmx/1.png') }}">
<br>

<h5>2/ 染膏选择</h5>
<p>一定要选择专业染膏！像染个头发只要几十块，你相信他们会给你用好的染膏吗？所以小琪建议您一定要选择品牌产品，到专业的美发店由专业的美发师为您进行染发。</p>
<img src="{{ url_for('static',filename='images/aboutmx/2.png') }}">
    <br>

<h5>3/ 漂染毁头发？</h5>
<p>确实，不过不漂染的颜色不纯正哦～我们可以通过保养方式和漂染用的产品尽量减少漂染对头发的伤害。如果你不想漂染，可以选择褪色剂。</p>
<br>
<h5>4/ 店铺选择</h5>
<p>做头发一定要选择专业的、正规的店铺，专业店铺发型师做头发，都会为顾客量身定制，进行风格诊断，这样做出来的发型效果才能够达到最好。</p>
<br>


<h3>——染后——</h3>
<br>
<h5>1/ 更换洗发水</h5>
<p>这时候你用普通补水洗发水显然不行。选一款修复或者护色的洗发水吧！</p>
<img src="{{ url_for('static',filename='images/aboutmx/3.png') }}">
<br>

<h5>2/ 日常护理</h5>
<p>卷头发时用一些隔热喷雾、洗头发时水温不要过高以免快速褪色、选一款适合自己的护发精油随身携带，避免“狮子头”出现！</p>
    <img src="{{ url_for('static',filename='images/aboutmx/4.png') }}">

<br>

<h5>3/ 特殊护理</h5>
<p>定期做发膜，这里说的不是超市里卖的那种，而是需要加热的专业发膜！如果家里没有蒸汽帽，你可以在店里买一个然后每周去做一次。你会发现专业线和日化线真的不一样！</p>
<br>
<h5>4/ 关于梳头 </h5>
<p>一定要多梳头，父母养生堂体是：梳头有助于血液循环、长寿就靠梳头。。。而小琪我要说的是多梳头也会让发质变好哦！牛角梳、按摩梳、鬃毛梳等，你有很多选择。多梳头后你会发现头发不仅变得柔顺、还变亮了！自己懒得梳的同学，可以到我们永琪门店，体验超舒适的“中式洗疗”哦。</p>
<img src="{{ url_for('static',filename='images/aboutmx/5.png') }}">

    <br>
</center>

{% endblock %}