{% extends 'index.html' %}

{% block title  %}
        获奖
{% endblock %}


{% block mainpage %}
    <center>
        <br><br>
        <h1>热烈祝贺永琪荣获 “改革开放四十年中国美妆品牌”荣誉称号</h1>
        <p>热烈祝贺永琪荣获“改革开放四十年中国美妆品牌”荣誉称号</p>
        <p>    由中国名牌杂志社发起，中国美妆百佳品牌推选委员会主办的中国美妆品牌高层论坛于7月18日在京举行。会</p>
        <p>议成立“中国美妆品牌共同体”，启动中国美妆品牌新时代，推动中国美妆品牌国际化进程。</p>
        <br>
        <p>    当天，中国美妆百佳品牌推选委员会向百佳品牌颁发了证书，并且非常荣幸的，我们上海永琪美容美发经营</p>
        <p>管理有限公司也当选了中国美妆品牌之一。届时参会的中国美妆百佳品牌企业发起成立“中国美妆品牌共同体”。</p>
        <br>
        <p>    品牌是企业综合实力的标志，体现了企业产品或者服务的社会认知度、美誉度、质量与诚信信誉保证等。而</p>
        <p>走出国门的民族品牌，则是国家软实力的象征。出席中国美妆品牌高层论坛的专家，围绕“中国速度向中国质量、</p>
        <p>中国制造向中国创造、中国产品向中国品牌转变”，就美妆行业的民族品牌如何进行品牌建设、品牌传播，如何走</p>
        <p>向世界，各自发表了见解。</p>
        <br>
        <p>    会议中说道，中国美妆业是潜力很大、容纳就业量也很大的产业，是典型的第一产业、第二产业和第三产业</p>
        <p>的融合体。这个行业是“健康中国、美丽中国”的重要组成部分，希望中国美妆行业能够重视“三名两品”即名品、名</p>
        <p>企、名人和产品品牌、服务品牌，让品牌真正发挥作用。</p>
        <br>
        <p>    但是首先中国美妆行业品牌化急需专业化引导，将美妆行业品牌建设定位为一把手工程，需要科学的品牌战</p>
        <p>略规划和专门的品牌人才与机构进行推进，不能简单地将品牌当成一种工具。其次通过紧抓管理、重视研发以及</p>
        <p>多样化营销等方式打破中国美妆行业品牌中低端定位，改变消费者的认知，带领中国美妆品牌迈向高端。</p>

    </center>
{% endblock %}