{% extends 'index.html'  %}


{% block title %}
        行业起源
{% endblock %}

{% block head %}
      <style type="text/css">
          .m{
              width: 600px;
          }
      </style>
{% endblock %}


{% block mainpage %}
<div class="m">
<center>
 <h3>中国“美容”发展简史 </h3>
                        <p>美容是使容貌美丽，爱美是人的天性。随着人类社会的进步的进程，美容从形式到内容也在不断的发展变化，美容的发展历史，在一定程度上反映了各个时期、各个民族的政治、经济、文化的兴衰。
                        </p>
                        <p>中国是一个有着五千年悠久历史和灿烂文化的文明古国。翻开史籍，不乏记载着历代古人对美的追求。“窈窕淑女”、“粉白黛绿”等形体美、容貌美的记载，“浓妆艳抹”、“淡妆素裹”的化妆以及历代美颜护肤的敷面秘方，都从不同角度反映了不同时代人们的审美情趣。中国五千年历史文化造就了丰富多彩的“美的风貌”：从美容发展史来看，由爱美之心的萌发到懂得利用佩饰来装点身体，用颜色来美化身体，直至美容化妆，贯穿于中国历史的发展始终。
                        </p>
                        <p>从上古三代时期，“禹选粉”、“纣烧铅锡作粉”、“周文王敷粉以饰面”等都真实地记录了护肤美容与帝王的切身联系，表现出人类追求美的迫切愿望。
                        </p>
                        <p>春秋战国时期，“粉敷面”、“黛画眉”盛极一时，华夏美容史正式揭开了序幕。
                        </p>
                        <p>两汉时期，美发、美容技术在质与量两方面都有了提高。在文字上出现了“妆饰”、“扮妆”等词汇，美容开始普及，化妆的用品也随之进一步发展。《毛诗疏·注》中说：“兰，香草也。汉宫中种之可著粉。”这不难看出当时不仅已能制作化妆用的粉，而且已经有了专门从事制作化妆品的人。此时的妇女化妆不仅十分普遍，而且还有创新。有名的故事是张敞画眉。传说张敞画眉的技法不俗，他经常给他的夫人画眉，长安人称他画的眉妩媚动人。大将军梁冀的妻子孙寿擅长打扮，她的仪容新奇妩媚，独创了偏侧的坠子髻，在面部化妆上改鸳鸯眉为“愁眉(八字眉)”。
                        </p>
                        <p>盛唐时期，文化繁荣，国际交流广泛，生活化妆有长足的发展。眉型有时兴阔而浓，有时兴尖而细长。值得一提的是，唐玄宗曾命令画工设计数十种眉型，以示提倡，并赋予每一种眉型以美丽的名称，如“鸳鸯眉”、“小山眉”、“五岳眉”、“三峰眉”、“垂珠眉”、“月棱眉”(又称“却月眉”)、“倒晕眉”、“分梢眉”、“涵烟眉”、“拂云眉”(又名“横烟眉”)等。还有在眉目之间饰以金银、羽翠制成的五彩花子，名“花钿”；有的妇女在面颊两旁用丹青、朱红等颜色点出各种形状如月形或钱形，名“妆靥”；有的妇女用一种鸦黄的染料，蘸水画在额上，称为“鸦黄”。面部化妆有“白妆(以粉为主)”，“红妆(以胭脂为主)”之分。唐朝时在长安还流行一种时世妆，即在白妆的基础上，不用红色，嘴唇改用乌膏，画愁眉，给人一种忧伤的印象，故又称“啼妆”。还有“飞霞妆”，即在面部薄薄施朱，以粉罩之。后来，又出现了一种“北苑妆”，即在淡妆基础上，将大小、形状各异的茶油花籽贴在额上。
                        </p>
                        <p>随着美容化妆内容的不断丰富，人们已经不再单纯地注重美容化妆术了，开始向养颜和调整皮肤生理机能方面发展。一些医家常常以入药的植物和动物的某些组织为原料，按比例配成药，长期使用，收到了良好的预防和治疗效果。唐代大医学家孙思邈编撰的《干金复方》明确提出了治疗痤疮、雀斑、润泽肌肤的验方80余个。可见，当时利用中药美容护肤已经相当普遍。相传，武则天曾炼益母草泽面，皮肤细嫩滋润，到了80多岁，仍保持美丽的容貌。她的女儿太平公主曾用桃花粉与乌鸡血调和敷面，其面色红润，皮肤光滑。在民间，人们还把美容药品制成面脂，在喜庆佳节相互馈赠。与面脂同样受到青睐的首推面膜。唐代著名歌妓庞三娘常用薄纱贴面，再将云母等中草药、细粉和蜜拌匀涂于面上，称为“嫩面”。唐代宫廷中使用的面膜以名贵中药提炼，其中有珍珠、白玉、人参等，将其研制成粉，并配以上等藕粉一起调和。这类面膜不但可以使皮肤白嫩光泽而富有弹性，还可以将毛孔深处的污垢及死细胞清除。
                        </p>
                        <p>到了宋代，人们同样注重皮肤的养护，并沿袭和发展了唐代以来的美容秘方，美容术不断提高，制出了专门的珍珠膏。宋代陈直的《养老奉亲书》中对老人的健美作了详细的论述。此外，宋代从发髻款式到头饰和面部花钿的粘贴，比唐代也不逊色。但是后来几个皇帝比较保守，多次修改服饰制度，一些华丽的装饰被禁锢了，民风也不如唐代那样开放。人们的审美观也由豪放转为隐逸，文弱颓丽的面容逐渐流行。宋朝面饰虽被摒弃，但对美容按摩却非常重视。
                        </p>
                        <p>元代，一些北方游牧民族的妇女盛行“黄妆”，即在冬季用一种黄粉涂面，直到春暖花开才洗去。这种粉是将一种药用植物的茎碾成粉末，涂了这种粉可以抵御寒风沙砾的侵袭，开春后才洗去，皮肤会显得细白柔嫩。
                        </p>
                        <p>明代，用珍珠粉擦脸，使皮肤滋润。名医李时珍将医学与养生紧密结合，编撰出巨著《本草纲目》。书中记载了700多个既是药物又是食物、既营养肌肤又美化容颜的验方。在所有这些美容养颜方法中，有外用的、也有内服的，药用原理主要是根据皮肤反映出来的现象，或从内部调整，或从外部加以润泽或保护，既科学，又少有副作用。
                        </p>
                        <p>清代宫廷的美容方法集历代之大成，进而再筛选和补充，同时比较注重饮食营养，形成了一套系列化的养颜健体的独特方法。慈禧太后在美容上大下功夫，脸抹鸡蛋清，身洒西桂汁，口服珍珠粉，沐浴用人乳。
                        </p>
                        <p>新中国成立后，医学、生物学、化学、物理学、营养学和遗传学的发展，使人们能从科学的角度掌握皮肤的生理及病理的内外因果关系。改革开放以后，美容业更是欣欣向荣，科学技术的日新月异，美容仪器的发展，使人们能够做好手工很难完成的细致工作。人们对养颜护肤、健美护肤的强烈要求，促进了日用化妆品工业的迅速发展，品种齐全，功能全面的护肤用品、化妆用品、护发用品应运而生。
                        </p>
                        <p>回顾美容的发展历史，可使人们理解美容的历史渊源，从而让人们正确地看待美容这一行业。把美容作为一个有历史积淀的事业，促进其不断发展，焕发出更诱人的风采。
                        </p>
</center>
</div>
{% endblock %}